 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Crocus Games is a companion app development group that focuses on bringing high quality and game-enriching third party support to popular games such as Destiny 1 and Destiny 2.</p>
                </div>
                <div class="col-lg-4">
                    <p>Our apps have been enjoyed more than 2 million players world wide. We always strive to increase the quality of our apps and bring new features.</p>
                </div>
            </div>
        </div>
    </section>
