 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Crocus Games is a companion app studio dedicated to enhancing the player experience in popular titles like Valorant and Destiny 2. We focus on delivering high-quality, third-party tools that enrich gameplay, provide deeper insights, and make every session more engaging.</p>
                </div>
                <div class="col-lg-4">
                    <p>Our apps have been enjoyed by over 3 million players worldwide. We’re constantly working to improve their quality and introduce new features that make every experience better.</p>
                </div>
            </div>
        </div>
    </section>
